src/main/resources/wsdl/users.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://home.ru/springsoap/entity" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://home.ru/springsoap/entity" targetNamespace="http://home.ru/springsoap/entity">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://home.ru/springsoap/entity">

    <xs:element name="getUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:choice>
                    <xs:element name="user" type="tns:userType"/>
                    <xs:element name="errors" type="tns:errorListType"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserListRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserListResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
                <xs:choice>
                    <xs:element name="userList" type="tns:userListType"/>
                    <xs:element name="errors" type="tns:errorListType"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="userType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="age" type="xs:int"/>
            <xs:element name="profession" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="userListType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="user" type="tns:userType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="errorListType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="error" type="tns:errorType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="errorType">
        <xs:sequence>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="getUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListRequest">
    <wsdl:part element="tns:getUserListRequest" name="getUserListRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserRequest">
    <wsdl:part element="tns:getUserRequest" name="getUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserListResponse">
    <wsdl:part element="tns:getUserListResponse" name="getUserListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UsersPort">
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserRequest" name="getUserRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserList">
      <wsdl:input message="tns:getUserListRequest" name="getUserListRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserListResponse" name="getUserListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersPortSoap11" type="tns:UsersPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUser">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserList">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserListRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserListResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersPortService">
    <wsdl:port binding="tns:UsersPortSoap11" name="UsersPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>